menu "Weather station config"

    config HOSTNAME
        string "Hostname for the esp. Use less then 25 chars before the %s. The %s is where the serial number will be inserted (maybe truncated)"
        default "espWS %s"
        help
            Hostname for the esp. The %s is where the serial number will be inserted (maybe truncated)

endmenu