menu "Weather station config"

config HOSTNAME
    string "Hostname for the esp. Use less then 25 chars before the %s. The %s is where the serial number will be inserted (maybe truncated)"
    default "espWS %s"
    help
        Hostname for the esp. The %s is where the serial number will be inserted (maybe truncated)

config GPIO_RAIN_GAUGE
    int "Rain gauge digital input"
    range 1 39
    default 23
    help
        Rain gauge 44E 402 Digital hall sensor input.

config GPIO_HUMIDITY
    int "AM2302 digital humidity and temperature sensor input"
    range 1 39
    default 22
    help
        AM2302 digital humidity and temperature sensor input.

config ANALOG_SENSORS_ADC_UNIT
	int "Analog sensor ADC unit index"
	default 0
	range 0 1
	help 
		ADC unit to be used on the analog sensors. From the enum: ADC_UNIT_1 = 0, ADC_UNIT_2 = 1

config TEMP_SENSOR_ADC_CHANNEL
    int "ADC channel for the temperature sensor (LM35)"
    default 0
    range 0 9
    help 
        ADC channel. From the enum: ADC_CHANNEL_0 = 0, ADC_CHANNEL_1 = 1, and so on ...

config SOLAR_CELL_ADC_CHANNEL
    int "ADC channel for the solar cell incidency sensor"
    default 7
    range 0 9
    help 
        ADC channel. From the enum: ADC_CHANNEL_0 = 0, ADC_CHANNEL_1 = 1, and so on ...

endmenu